aria2/config filter=vault
bash/exports filter=vault
beets/config.yaml filter=vault
bugwarrior/config filter=vault
clerk/helper_config filter=vault
git/gitk filter=vault
git/users/* filter=vault
mpd/mpd.conf filter=vault
mpdscribble/config filter=vault
wego/config filter=vault
