[submodule "vim"]
	path = nvim
	url = git://github.com/rafi/vim-config.git
[submodule "phpstorm"]
	path = phpstorm
	url = git://github.com/rafi/phpstorm-config.git
[submodule "Xorg/colors/base16"]
	path = xorg/colors/base16
	url = git://github.com/chriskempson/base16-xresources.git
[submodule "urxvt/ext"]
	path = urxvt/ext
	url = git://github.com/muennich/urxvt-perls.git
[submodule "tmux/plugins/better-mouse"]
	path = tmux/plugins/better-mouse
	url = git://github.com/nhdaly/tmux-better-mouse-mode.git
[submodule "tmux/plugins/extrakto"]
	path = tmux/plugins/extrakto
	url = git://github.com/laktak/extrakto.git
[submodule "tmux/plugins/fingers"]
	path = tmux/plugins/fingers
	url = git://github.com/Morantron/tmux-fingers.git
[submodule "tmux/plugins/pass"]
	path = tmux/plugins/pass
	url = git://github.com/rafi/tmux-pass.git
