*.swp
*.log
*.cache

/Atlassian
/beets/state.pickle
/configstore
/clerk/ratings*
/dconf
/fb-client
/fontforge
/gconf
/gdrive
/gimp-2.8
/gnupg
/google-chrome*
/chromium*
/gtk-2.0/gtkfilechooser.ini
/keepassx
/klavaro
/menus
/mps-youtube
/mutt/config
/mux
/pavucontrol.ini
/pulse
/smudge.sed
/spacefm
/syncthing
/systemd/**/*.wants
/systemd/**/dbus-org.gnome.*.service
/sublime-text*
/virtualbox
/vlc
/Popcorn-Time
/qutebrowser/quickmarks
/QtProject*
/Trolltech.conf

/ranger/bookmarks
/ranger/history
/ranger/tagged

/weechat/irc.conf
/weechat/sec.conf
/weechat/logs
/weechat/perl
/weechat/python
/weechat/script
