[submodule "tmux/plugins/extrakto"]
	path = tmux/plugins/extrakto
	url = git@github.com:laktak/extrakto.git
[submodule "tmux/plugins/pass"]
	path = tmux/plugins/pass
	url = git@github.com:rafi/tmux-pass.git
[submodule "tmux/plugins/thumbs"]
	path = tmux/plugins/thumbs
	url = git@github.com:fcsonline/tmux-thumbs.git
