*.swp
*.log
*.cache

/Atlassian
/beets/state.pickle
/configstore
/clerk/ratings*
/dconf
/gconf
/gimp-2.8
/gnupg
/google-chrome
/gtk-2.0/gtkfilechooser.ini
/keepassx
/klavaro/
/menus
/mutt/config
/mux
/pulse/cookie
/spacefm
/syncthing
/virtualbox
/vlc
/QtProject.conf
/Trolltech.conf

/dwb/adblock_lists
/dwb/default
/dwb/userscripts

/ranger/bookmarks
/ranger/history
/ranger/tagged
/ranger/*/__init__.py
/ranger/*/__pycache__

/weechat/irc.conf
/weechat/sec.conf
/weechat/logs
/weechat/perl
/weechat/python
/weechat/script

/copyq/*
!/copyq/copyq.conf
