# See https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/yazi-default.toml
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
sort_sensitive = true
linemode       = "size_and_mtime"
show_hidden    = true
scrolloff      = 3
title_format   = "[yazi] {cwd}"

# Run `yazi --clear-cache` when changing preview settings.
[preview]
cache_dir       = ""
image_quality   = 75
max_width  = 2000
max_height = 2000

[opener]
edit = [
	{ run = 'nvim "$@"', block = true, for = "unix" },
]
# archive = [
# 	{ run = 'unar "$1"', desc = "Extract here", for = "unix" },
# ]

[plugin]
prepend_previewers = [
	{ mime = "audio/*", run = "exifaudio" },  # Test
	# { mime = "application/vnd.oasis.opendocument.text", run = "odt" },

	## Piper previews
	{ url = "*.csv", run = 'piper -- bat -p --color=always "$1"' },
	{ url = "*.md", run = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dark "$1"' },

	{ mime = "application/sqlite3", run  = 'piper -- sqlite3 "$1" ".schema --indent"' },

	### Archive previewers
	{ mime = "application/*zip",           run = 'piper --format=url -- ouch list -t -y "$1"' },
	{ mime = "application/tar",            run = 'piper --format=url -- ouch list -t -y "$1"' },
	{ mime = "application/bzip2",          run = 'piper --format=url -- ouch list -t -y "$1"' },
	{ mime = "application/7z-compressed",  run = 'piper --format=url -- ouch list -t -y "$1"' },
	{ mime = "application/rar",            run = 'piper --format=url -- ouch list -t -y "$1"' },
	{ mime = "application/xz",             run = 'piper --format=url -- ouch list -t -y "$1"' },
]
append_previewers = [
	{ url = "*", run = 'piper -- hexyl --border=none --terminal-width=$w "$1"' },
]
