[Unit]
Description=aria2 daemon
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/usr/bin/aria2c --conf-path=%h/.config/aria2/daemon

[Install]
WantedBy=console.target
