[Unit]
Description=Automagically add titles to mpd playlist
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/mpd-sima -c %h/.config/mpd_sima/config

[Install]
WantedBy=default.target
