<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.koekeishiya.kwm</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/kwm</string>
		<string>--config</string>
		<string>/Users/rafi/.config/kwm/config</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SockServiceName</key>
			<string>3020</string>
			<key>SockType</key>
			<string>dgram</string>
			<key>SockFamily</key>
			<string>IPv4</string>
		</dict>
	</dict>
</dict>
</plist>
