<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.rafi.login</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>launchctl setenv XDG_CONFIG_HOME /Users/rafi/.config</string>
		<string>launchctl setenv XDG_CACHE_HOME /Users/rafi/.cache</string>
		<string>launchctl setenv XDG_DATA_HOME /Users/rafi/.local/share</string>
		<string>launchctl setenv XAUTHORITY /Users/rafi/.cache/Xauthority</string>
		<string>launchctl setenv VBOX_USER_HOME /Users/rafi/.config/virtualbox</string>
		<string>launchctl setenv RXVT_SOCKET /Users/rafi/.cache/urxvtd</string>
		<string>launchctl setenv URXVT_PERL_LIB /Users/rafi/.config/urxvt/ext</string>
		<string>launchctl setenv FONTCONFIG_PATH /opt/X11/lib/X11/fontconfig</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
