<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.rafi.environment</string>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
		<string>
			launchctl setenv ANDROID_SDK_HOME $HOME/.local/share/android
			launchctl setenv XDG_CONFIG_HOME $HOME/.config
			launchctl setenv XDG_CACHE_HOME $HOME/.cache
			launchctl setenv XDG_DATA_HOME $HOME/.local/share
			launchctl setenv XDG_STATE_HOME $HOME/.local/state
			launchctl setenv GNUPGHOME $HOME/.config/gnupg
			launchctl setenv PASSWORD_STORE_DIR $HOME/docs/pass/
			launchctl setenv NPM_CONFIG_USERCONFIG $XDG_CONFIG_HOME/npm/npmrc
			launchctl setenv TERMINFO $XDG_DATA_HOME/terminfo
			launchctl setenv RANDFILE $HOME/.cache/randfile
			launchctl setenv MPD_HOST music.host
		</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
