<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
	<dict>
		<key>Label</key>
		<string>org.notandy.ympd</string>

		<key>ProgramArguments</key>
		<array>
			<string>/opt/local/bin/ympd</string>
			<string>-h</string>
			<string>localhost</string>
			<string>-p</string>
			<string>6600</string>
			<string>-w</string>
			<string>8282</string>
		</array>

		<key>RunAtLoad</key>
		<true/>

		<key>KeepAlive</key>
		<true/>
	</dict>
</plist>
